<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="schedulingrules">
    <div id="schedulingrulesDiv" class="layer_self_wrap" style="display:none;">
        <form id="schedulingrulesForm" class="layui-form" lay-filter="schedulingrulesForm" method="post"
              action="" style="margin-top: 20px;">

            <input name="arrangeRuleId" type="hidden"><!--自增主键ID-->

            <div class="layui-form-item">
                <label class="layui-form-label">规则名称</label>
                <div class="layui-input-block">
                    <input placeholder="" type="text" id="arrangeRuleName" name="arrangeRuleName" lay-verify="required"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">排班类型</label>
                <div class="layui-input-block">
                    <input placeholder="" type="text" id="arrangeRuleType" name="arrangeRuleType" lay-verify="required"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">上班时间</label>
                <div class="layui-input-block">
                    <input placeholder="HH:mm:ss" type="text" id="workStartTime" name="workStartTime" lay-verify="required"
                           autocomplete="off" class="layui-input" readonly>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">工时(小时)</label>
                <div class="layui-input-block">
                    <input placeholder="" type="text" id="workingHours" name="workingHours" lay-verify="required|number"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
           <!-- <div class="layui-form-item">
                <label class="layui-form-label">下班时间</label>
                <div class="layui-input-block">
                    <input placeholder="" type="text" id="workEndTime" name="workEndTime" lay-verify="required"
                           autocomplete="off" class="layui-input">
                </div>
            </div>-->
            <!--<div class="layui-form-item">
                <label class="layui-form-label">发布状态 1未发布 2 发布</label>
                <div class="layui-input-block">
                    <input placeholder="" type="text" id="postStatus" name="postStatus" lay-verify="required"
                           autocomplete="off" class="layui-input">
                </div>
            </div>-->
            <!--<div class="layui-form-item">
                <label class="layui-form-label">新增时间</label>
                <div class="layui-input-block">
                    <input placeholder="" type="text" id="insertTime" name="insertTime" lay-verify="required"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">新增操作人</label>
                <div class="layui-input-block">
                    <input placeholder="" type="text" id="insertUid" name="insertUid" lay-verify="required"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">修改操作人</label>
                <div class="layui-input-block">
                    <input placeholder="" type="text" id="updateUid" name="updateUid" lay-verify="required"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">修改时间</label>
                <div class="layui-input-block">
                    <input placeholder="" type="text" id="updateTime" name="updateTime" lay-verify="required"
                           autocomplete="off" class="layui-input">
                </div>
            </div>-->


            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="schedulingrulesSubmit">立即提交</button>

                </div>
            </div>
        </form>

    </div>
</div>