<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="workrecord">
    <div id="workrecordDiv" class="layer_self_wrap" style="display:none;">
        <form id="workrecordForm" class="layui-form" lay-filter="workrecordForm" method="post"
              action="" style="margin-top: 20px;">

            <input name="workId" type="hidden"><!--自增主键ID-->

            <div class="layui-form-item">
                <label class="layui-form-label">用户id</label>
                <div class="layui-input-block">
                    <input placeholder="" type="text" id="userId" name="userId" lay-verify="required"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">排班规则id</label>
                <div class="layui-input-block">
                    <input placeholder="" type="text" id="arrangeRuleId" name="arrangeRuleId" lay-verify="required"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">上班时间</label>
                <div class="layui-input-block">
                    <input placeholder="" type="text" id="workSTime" name="workSTime" lay-verify="required"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">下班时间</label>
                <div class="layui-input-block">
                    <input placeholder="" type="text" id="workETime" name="workETime" lay-verify="required"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">工作日</label>
                <div class="layui-input-block">
                    <input placeholder="" type="text" id="workDate" name="workDate" lay-verify="required"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">工作状态 正常班/ 代班/请假</label>
                <div class="layui-input-block">
                    <input placeholder="" type="text" id="workType" name="workType" lay-verify="required"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">补班id workid</label>
                <div class="layui-input-block">
                    <input placeholder="" type="text" id="makeUpId" name="makeUpId" lay-verify="required"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">补班人员</label>
                <div class="layui-input-block">
                    <input placeholder="" type="text" id="makeUpUser" name="makeUpUser" lay-verify="required"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">新增时间</label>
                <div class="layui-input-block">
                    <input placeholder="" type="text" id="insertTime" name="insertTime" lay-verify="required"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">新增操作人</label>
                <div class="layui-input-block">
                    <input placeholder="" type="text" id="insertUid" name="insertUid" lay-verify="required"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">修改操作人</label>
                <div class="layui-input-block">
                    <input placeholder="" type="text" id="updateUid" name="updateUid" lay-verify="required"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">修改时间</label>
                <div class="layui-input-block">
                    <input placeholder="" type="text" id="updateTime" name="updateTime" lay-verify="required"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">删除标识</label>
                <div class="layui-input-block">
                    <input placeholder="" type="text" id="isDel" name="isDel" lay-verify="required"
                           autocomplete="off" class="layui-input">
                </div>
            </div>


            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="workrecordSubmit">立即提交</button>

                </div>
            </div>
        </form>

    </div>
</div>