<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.roster.mapper.WorkRecordMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.cloud.roster.entity.WorkRecordEntity">
                                                <id column="work_id" property="workId" />
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    <result column="user_id" property="userId" />
                                                                <result column="arrange_rule_id" property="arrangeRuleId" />
                                                                <result column="work_s_time" property="workSTime" />
                                                                <result column="work_e_time" property="workETime" />
                                                                <result column="work_date" property="workDate" />
                                                                <result column="work_type" property="workType" />
                                                                <result column="make_up_id" property="makeUpId" />
                                                                <result column="make_up_user" property="makeUpUser" />
                                                                <result column="insert_time" property="insertTime" />
                                                                <result column="insert_uid" property="insertUid" />
                                                                <result column="update_uid" property="updateUid" />
                                                                <result column="update_time" property="updateTime" />
                                                                <result column="is_del" property="isDel" />
                                    </resultMap>


        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
                work_id,user_id,arrange_rule_id,work_s_time,work_e_time,work_date,work_type,make_up_id,make_up_user,insert_time,insert_uid,update_uid,update_time,is_del
        </sql>

</mapper>