
var pageCurr;
var tableIns;
var control = '${fileName}'
fromId = control+'Form',
    divId = control + "Div",
    baseUrl = '/${table.moduleName}/${businessName}/',
    aOrUUrl = baseUrl + 'aOrU',
    delUrl = baseUrl + 'del',
    getUrl = baseUrl + 'getById',
    listUrl = baseUrl + 'getList',
    menuTitle = '${table.tableComment}';

$(function () {
    layui.use(['table', 'laydate','util'], function () {
        var table = layui.table;
        var laydate = layui.laydate;
        var form = layui.form;
            tableIns = table.render({
                elem: '#${fileName}List'
                ,id:'${fileName}List'
                , url: listUrl
                , method: 'get' //默认：get请求
                , cellMinWidth: 180
                ,height: 'full-100'
                ,toolbar: '#toolbarDemo'
                ,defaultToolbar: ['filter', 'print', 'exports']
                , page: true,
                where:{},
                title: menuTitle,
                request: {
                    pageName: 'current' //页码的参数名称，默认：page
                    , limitName: 'size' //每页数据量的参数名，默认：limit
                }, response: {
                    statusName: 'code' //数据状态的字段名称，默认：code
                    , statusCode: 200 //成功的状态码，默认：0
                    , countName: 'totals' //数据总数的字段名称，默认：count
                    , dataName: 'list' //数据列表的字段名称，默认：data
                    ,msgName: 'message'
                }
                , cols: [[
                    {type: 'numbers'}
                    #foreach($field in ${columns})
                        #if($field.isPk.equals("1"))##生成主键排在第一位
                            , {field: '${field.javaField}', title: '${field.columnComment}', width: 180, hide: true}
                        #end
                    #end
                    #foreach($field in ${columns})
                        #if($field.isPk.equals("0"))##生成普通字段
                            , {field: '${field.javaField}', title: '${field.columnComment}'}
                        #end
                    #end
                    , {fixed: 'right', title: '操作', width: 180, align: 'center', toolbar: '#optBar'}
                ]]
                , done: function (res, curr, count) {
                    //如果是异步请求数据方式，res即为你接口返回的信息。
                    //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度
                    //console.log(res);
                    //得到当前页码
                    //console.log(curr);
                    //得到数据总量
                    //console.log(count);
                    //$("[data-field='id']").css('display', 'none');
                    pageCurr = curr;
                }
            });
        //监听工具条
        table.on('tool(${fileName}Table)', function (obj) {
            var data = obj.data;
            if (obj.event === 'del') {
                del(data);
            }else {
                edit(data);
            }
        });
        //监听提交
        form.on('submit(${fileName}Submit)', function (data) {
            // TODO 校验
            formSubmit(data);
            return false;
        });
        /**
         * toolbar监听事件
         */
        table.on('toolbar(${fileName}Table)', function (obj) {
            if (obj.event === 'add${fileName}') {
                add${fileName}();
            }
        });
    });
});
#foreach($field in ${columns})
    #if($field.isPk.equals("1"))##生成主键排在第一位
        #set ( $primarykey = "${field.javaField}" )
    #end
#end

function reload${fileName}List() {
    loadTable('${fileName}List',{})
}

function add${fileName}() {
    formAssignment(fromId,{"$primarykey":''})
    //echoForm(,{},fromId,'GET')
    openForm('${fileName}Div',fromId,'添加'+menuTitle);
}

function echoFormCallback(data,formId) {
    openForm('${fileName}Div',formId,'修改'+menuTitle);
    formAssignment(formId,data.data);
}

function formSubmit(data) {
    submitForm(aOrUUrl,divId,fromId,data.field,'POST',reload${fileName}List);
}
function del(data) {
    submitForm(delUrl,divId,fromId, {'$primarykey':data.$primarykey},'GET',reload${fileName}List)
}
function edit(data) {
    echoForm(getUrl,{'$primarykey':data.$primarykey},fromId,'GET');
}

