<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="layout :: htmlhead" th:with="title='品牌信息'"></head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <table id="brandinfoList" lay-filter="brandinfoTable"></table>


    <script type="text/html" id="toolbarDemo">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-normal layui-btn-sm" onclick="addBrandinfo()">添加</button>
        </div>
    </script>
    <script type="text/html" id="optBar">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    </script>
    <script type="text/html" id="brandStatusTpl">
        {{#  if(d.brandStatus == 1){ }}
        <input type="checkbox" name="{{d.brandId}}" value="0" lay-skin="switch"
               lay-text="启用|禁用" lay-filter="isbrandStatusTpl" checked="checked"/>
        {{#  } else { }}
        <input type="checkbox" name="{{d.brandId}}" value="1" lay-skin="switch"
               lay-text="启用|禁用" lay-filter="isbrandStatusTpl"/>
        {{#  } }}
    </script>
    <div th:replace="product/productform :: brandinfo"></div>
    <script th:src="@{/static/js/product/brandinfo.js}"></script>
    </div></div>
</body>
</html>