<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="supplierinfo">
    <div id="supplierinfoDiv" class="layer_self_wrap" style="display:none;">
        <!-- 用户信息 -->
        <form id="supplierinfoForm" class="layui-form layui-form-pane" lay-filter="supplierinfoForm" method="post"
              action="" style="margin-top: 20px;">
            <input name="supplierId" type="hidden"><!--自增主键ID-->
            <div class="layui-form-item">
                <label class="layui-form-label">供应商编码</label>
                <div class="layui-input-inline">
                    <input id="supplierCode" name="supplierCode" autocomplete="off" class="layui-input" type="text"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">供应商名称</label>
                <div class="layui-input-inline">
                    <input placeholder="" type="text" id="supplierName" name="supplierName" lay-verify="required"
                           autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">xxx供应商</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">供应商类型</label>
                <div class="layui-input-inline">
                    <select id="supplierType" name="supplierType" lay-verify="required">
                        <option value=""></option>
                        <option value="1">自营</option>
                        <option value="2">平台</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">供应商联系人</label>
                <div class="layui-input-inline">
                    <input placeholder="" type="text" name="linkMan" lay-verify="required" autocomplete="off"
                           class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">张三</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">联系电话</label>
                <div class="layui-input-inline">
                    <input placeholder="18712878767" type="tel" name="phoneNumber" lay-verify="required|phone"
                           autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">18712878767</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">供应商开户银行名称</label>
                <div class="layui-input-inline">
                    <input placeholder="" type="text" name="bankName" lay-verify="required" autocomplete="off"
                           class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">xxx银行</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">银行账号</label>
                <div class="layui-input-inline">
                    <input id="bankAccount" name="bankAccount" autocomplete="off" class="layui-input" type="text"/>
                </div>
                <div class="layui-form-mid layui-word-aux">18712878767</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">供应商地址</label>
                <div class="layui-input-inline">
                    <input id="address" name="address" autocomplete="off" class="layui-input" type="text"/>
                </div>
                <div class="layui-form-mid layui-word-aux">北京市昌平区二牛村</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">状态</label>
                <div class="layui-input-block">
                    <input type="radio" name="gender" value="0" title="禁止">
                    <input type="radio" name="gender" value="1" title="启用" checked>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="supplierinfoSubmit">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>

    </div>
</div>

<!--品牌信息-->
<div th:fragment="brandinfo">
    <div id="brandinfoDiv" class="layer_self_wrap" style="display:none;">
        <!-- 用户信息 -->
        <form id="brandinfoForm" class="layui-form layui-form-pane" lay-filter="brandinfoForm" method="post" action=""
              style="margin-top: 20px;">
            <input name="brandId" type="hidden"><!--自增主键ID-->
            <div class="layui-form-item">
                <label class="layui-form-label">品牌名称</label>
                <div class="layui-input-inline">
                    <input placeholder="" type="text" name="brandName" lay-verify="required" autocomplete="off"
                           class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">xxx品牌</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">联系电话</label>
                <div class="layui-input-inline">
                    <input placeholder="" type="text" name="telephone" lay-verify="required" autocomplete="off"
                           class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">18767564534</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">品牌网络</label>
                <div class="layui-input-inline">
                    <input placeholder="" type="text" name="brandWeb" lay-verify="required" autocomplete="off"
                           class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">www.cn.com</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">品牌logo</label>
                <div class="layui-input-inline">
                    <input placeholder="" type="text" name="brandLogo" lay-verify="required" autocomplete="off"
                           class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">xxx</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">品牌描述</label>
                <div class="layui-input-inline">
                    <input placeholder="" type="text" name="brandDesc" lay-verify="required" autocomplete="off"
                           class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">xxxxxx</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">排序</label>
                <div class="layui-input-inline">
                    <input placeholder="" type="text" name="brandOrder" lay-verify="required" autocomplete="off"
                           class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">1</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">品牌状态</label>
                <div class="layui-input-inline">
                    <input type="radio" name="brandStatus" value="0" title="禁止">
                    <input type="radio" name="brandStatus" value="1" title="启用" checked>
                </div>
                <div class="layui-form-mid layui-word-aux"></div>
            </div>


            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="brandinfoSubmit">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>

    </div>
</div>


<div th:fragment="productinfo">
    <div id="productinfoDiv" class="layer_self_wrap" style="display:none;">
        <!-- 用户信息 -->
        <form id="productinfoForm" class="layui-form layui-form-pane" lay-filter="productinfoForm" method="post"
              action="" style="margin-top: 20px;">
            <input name="productId" type="hidden"><!--自增主键ID-->
            <div class="layui-form-item">
                <label class="layui-form-label">商品编码</label>
                <div class="layui-input-inline">
                    <input placeholder="" type="text" name="productCore" lay-verify="required" autocomplete="off"
                           class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">XX00X</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">商品名称</label>
                <div class="layui-input-inline">
                    <input placeholder="" type="text" name="productName" lay-verify="required" autocomplete="off"
                           class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">娃哈哈</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">国条码</label>
                <div class="layui-input-inline">
                    <input placeholder="" type="text" name="barCode" lay-verify="required" autocomplete="off"
                           class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">000000</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">品牌表的</label>
                <div class="layui-input-inline">
                    <!--<select multiple lay-search lay-case lay-omit>-->
                    <select id="brandId" name="brandId" lay-filter="" lay-verify="required" multiple lay-search lay-case
                            lay-omit>
                        <option value=""></option>
                    </select>
                </div>
                <div class="layui-form-mid layui-word-aux">直接选择或搜索选择</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">一级分类</label>
                <div class="layui-input-inline">
                    <select child="twoCategoryId" lay-filter="changeCategory" id="oneCategoryId" name="oneCategoryId"
                            lay-verify="required" lay-search="">
                        <option value=""></option>
                    </select>
                </div>
                <div class="layui-form-mid layui-word-aux">直接选择或搜索选择</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">二级分类</label>
                <div class="layui-input-inline">
                    <select child="threeCategoryId" id="twoCategoryId" name="twoCategoryId" lay-filter="changeCategory"
                            lay-verify="required" lay-search="" placeholder="">
                        <option value=""></option>
                    </select>
                </div>
                <div class="layui-form-mid layui-word-aux">直接选择或搜索选择</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">三级分类</label>
                <div class="layui-input-inline">
                    <select id="threeCategoryId" name="threeCategoryId" lay-search="">
                        <option value=""></option>
                    </select>
                </div>
                <div class="layui-form-mid layui-word-aux"></div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">商品的供应商</label>
                <div class="layui-input-inline">
                    <select id="supplierId" name="supplierId" lay-search="">
                        <option value=""></option>
                    </select>
                </div>
                <div class="layui-form-mid layui-word-aux"></div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">商品销售价格</label>
                <div class="layui-input-inline">
                    <input placeholder="" type="text" name="price" lay-verify="required" autocomplete="off"
                           class="layui-input" value="90">
                </div>
                <div class="layui-form-mid layui-word-aux"></div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">商品加权平均成本</label>
                <div class="layui-input-inline">
                    <input placeholder="" type="text" name="averageCost" lay-verify="required" autocomplete="off"
                           class="layui-input" value="90">
                </div>
                <div class="layui-form-mid layui-word-aux"></div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">上下架状态</label>
                <div class="layui-input-inline">
                    <input type="radio" name="publishStatus" value="1" title="上架" checked="">
                    <input type="radio" name="publishStatus" value="0" title="下架">
                </div>
                <div class="layui-form-mid layui-word-aux"></div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">审核状态</label>
                <div class="layui-input-inline">
                    <input type="radio" name="auditStatus" value="1" title="已审核" checked="">
                </div>
                <div class="layui-input-inline">
                    <input type="radio" name="auditStatus" value="0" title="未审核">
                </div>
                <div class="layui-form-mid layui-word-aux"></div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">商品重量</label>
                <div class="layui-input-inline">
                    <input placeholder="" type="text" name="weight" lay-verify="required" autocomplete="off"
                           class="layui-input" value="9">
                </div>
                <div class="layui-form-mid">kg</div>
                <div class="layui-form-mid layui-word-aux"></div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">商品长度</label>
                <div class="layui-input-inline">
                    <input placeholder="" type="text" name="length" lay-verify="required" autocomplete="off"
                           class="layui-input" value="90">
                </div>
                <div class="layui-form-mid">cm</div>
                <div class="layui-form-mid layui-word-aux"></div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">商品高度</label>
                <div class="layui-input-inline">
                    <input placeholder="" type="text" name="height" lay-verify="required" autocomplete="off"
                           class="layui-input" value="90">
                </div>
                <div class="layui-form-mid">cm</div>
                <div class="layui-form-mid layui-word-aux"></div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">商品宽度</label>
                <div class="layui-input-inline">
                    <input placeholder="" type="text" name="width" lay-verify="required" autocomplete="off"
                           class="layui-input" value="90">
                </div>
                <div class="layui-form-mid">cm</div>
                <div class="layui-form-mid layui-word-aux"></div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">商品颜色</label>
                <div class="layui-input-inline">
                    <div class="layui-input-inline" style="width: 120px;">
                        <input name="colorType" type="text" value="" placeholder="请选择颜色" class="layui-input"
                               id="color-form-input">
                    </div>
                    <div class="layui-inline" style="left: -11px;">
                        <div id="color-form"></div>
                    </div>
                </div>
                <div class="layui-form-mid layui-word-aux"></div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">生产日期</label>
                <div class="layui-input-inline">
                    <input type="text" name="productionDate" id="productionDate" lay-verify="date"
                           placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux"></div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">商品有效期</label>
                <div class="layui-input-inline">
                    <input type="text" name="shelfLife" id="shelfLife" lay-verify="date" placeholder="yyyy-MM-dd"
                           autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux"></div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">商品描述</label>
                <div class="layui-input-inline">
                    <input placeholder="" type="text" name="descript" lay-verify="required" autocomplete="off"
                           class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux"></div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">商品录入时间</label>
                <div class="layui-input-inline">
                    <input type="text" name="indate" id="indate" lay-verify="date" placeholder="yyyy-MM-dd"
                           autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux"></div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="productinfoSubmit">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>

    </div>
</div>


<div th:fragment="picinfo">
    <div id="picinfoDiv" class="layer_self_wrap" style="display:none;">
        <!-- 用户信息 -->
        <form id="picinfoForm" class="layui-form layui-form-pane" lay-filter="picinfoForm" method="post"
              action="" style="margin-top: 20px;">
            <input name="productPicId" type="hidden"><!--自增主键ID-->
            <input name="productId" type="hidden"><!--商品ID-->
            <div class="layui-form-item">
                <label class="layui-form-label">图片描述</label>
                <div class="layui-input-inline">
                    <input placeholder="" type="text" name="picDesc" lay-verify="required" autocomplete="off"
                           class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux"></div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">图片URL</label>
                <div class="layui-input-inline">
                    <input placeholder="" type="hidden" name="picUrl" id="picUrl" autocomplete="off"
                           class="layui-input">
                    <div class="layui-upload-drag" id="test10">
                        <i class="layui-icon"></i>
                        <p>点击上传，或将文件拖拽到此处</p>
                        <div class="layui-hide" id="uploadDemoView">
                            <hr>
                            <img src="" alt="上传成功后渲染" style="max-width: 396px;max-height: 200px;">
                        </div>
                    </div>
                </div>
                <div class="layui-form-mid layui-word-aux"></div>
            </div>


            <div class="layui-form-item">
                <label class="layui-form-label">是否主图</label>
                <div class="layui-input-inline">
                    <input type="radio" name="isMaster" value="1" title="主图" checked="">

                </div>
                <div class="layui-input-inline">
                    <input type="radio" name="isMaster" value="0" title="非主图">
                </div>
                <div class="layui-form-mid layui-word-aux"></div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">图片排序</label>
                <div class="layui-input-inline">
                    <input placeholder="" type="text" name="picOrder" lay-verify="required" autocomplete="off"
                           class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux"></div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">图片是否有效</label>
                <div class="layui-input-inline">
                    <input type="radio" name="picStatus" value="1" title="有效" checked="">
                    <input type="radio" name="picStatus" value="0" title="无效">
                </div>
                <div class="layui-form-mid layui-word-aux"></div>
            </div>


            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="picinfoSubmit">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>

    </div>
</div>

<div th:fragment="skuManager">
    <div id="skuManagerDiv" class="layer_self_wrap" style="display:none;" >
        <form id="skuManagerForm" class="layui-form layui-form-pane" lay-filter="skuManagerForm" method="post"
              action="" style="margin-top: 20px;">
            <input name="makId" type="hidden"><!--自增主键ID-->
            <div class="layui-form-item">
                <label class="layui-form-label">类型名称</label>
                <div class="layui-input-inline">
                    <input placeholder="" type="text" name="typeName" lay-verify="required" autocomplete="off"
                           class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux"></div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">属性名称</label>
                <div class="layui-input-inline">
                    <input placeholder="" type="text" name="attributeName" lay-verify="required" autocomplete="off"
                           class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux"></div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">是否下拉选择</label>
                <div class="layui-input-inline">
                    <input type="radio" name="isSelect" value="1" title="是" checked="">
                    <input type="radio" name="isSelect" value="0" title="否">
                </div>
                <div class="layui-form-mid layui-word-aux"></div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">排序</label>
                <div class="layui-input-inline">
                    <input placeholder="" type="text" name="nameSort" lay-verify="required|number" autocomplete="off"
                           class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux"></div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="skuManagerSubmit">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>

    </div>
</div>


<div th:fragment="skuVal">
    <div id="skuValDiv" class="layer_self_wrap" style="display:none;">
        <!-- 用户信息 -->
        <form id="skuValForm" class="layui-form layui-form-pane" lay-filter="skuValForm" method="post"
              action="" style="margin-top: 20px;">
            <input name="makId" type="hidden"><!--自增主键ID-->
            <input name="mavId" type="hidden"><!--自增主键ID-->
            <div class="layui-form-item">
                <label class="layui-form-label">属性选项值</label>
                <div class="layui-input-inline">
                    <input placeholder="" type="text" name="attributeValue" lay-verify="required" autocomplete="off"
                           class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux"></div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">排序</label>
                <div class="layui-input-inline">
                    <input placeholder="" type="text" name="valueSort" lay-verify="required|number" autocomplete="off"
                           class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux"></div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="skuValSubmit">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>

    </div>
</div>


<div th:fragment="skutemplate">
    <div id="skutemplateDiv" class="layer_self_wrap" style="display:none;">
        <form id="skutemplateForm" class="layui-form layui-form-pane" lay-filter="skutemplateForm" method="post"
              action="" style="margin-top: 20px;">
            <input name="productId" type="hidden"><!--自增主键ID-->
            <div class="layui-form-item" id="skuCheckbox">

            </div>


            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="skutemplateSubmit">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>

    </div>
</div>


<div th:fragment="specsManager">
    <div id="specsManagerDiv" class="layer_self_wrap" style="display:none;">
        <form id="specsManagerForm" class="layui-form layui-form-pane" lay-filter="specsManagerForm" method="post"
              action="" style="margin-top: 20px;">
            <input name="productId" type="hidden"><!--自增主键ID-->
            <input name="specsId" type="hidden"><!--自增主键ID-->

            <div class="layui-form-item">
                <label class="layui-form-label">sku 描述</label>
                <div class="layui-input-inline">
                    <input placeholder="" type="text" name="skuDepict" lay-verify="required" autocomplete="off"
                           class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux"></div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">商品价格</label>
                <div class="layui-input-inline">
                    <input placeholder="" type="text" name="productPrice" lay-verify="required|number"
                           autocomplete="off"
                           class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux"></div>
            </div>
            <span id="skuEach">



            </span>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="specsManagerSubmit">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>

    </div>
</div>


