<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="layout :: htmlhead" title='字典管理'></head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <input type="hidden" th:value="${dictType}" id="reqdictType">
        <table id="syscommondictkvList" lay-filter="syscommondictkvTable"></table>
        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-sm" lay-event="addsyscommondictkv">添加</button>
                <a href="javascript:history.back(-1)" ><button class="layui-btn layui-btn-normal layui-btn-sm">返回</button></a>

            </div>
        </script>
        <script type="text/html" id="optBar">
            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
            <!--{{#  if(d.isDel == 1){ }}
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
            {{#  } }}-->

        </script>


        <script type="text/html" id="dictStatusTpl">
            {{#  if(d.dictStatus == 1){ }}
            <input type="checkbox" name="2" value="{{d.dictChildId}}" lay-skin="switch"
                   lay-text="发布|未发布" lay-filter="isdictStatusTpl" checked="checked"/>
            {{#  } else { }}
            <input type="checkbox" name="1" value="{{d.dictChildId}}" lay-skin="switch"
                   lay-text="发布|未发布" lay-filter="isdictStatusTpl"/>
            {{#  } }}
        </script>


        <div th:replace="auth/form/syscommondictkvForm.html :: syscommondictkv"></div>
        <script th:src="@{/static/js/auth/syscommondictkv.js}"></script>
    </div>
</div>
</body>
</html>