<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="layout :: htmlhead" title='物流公司信息'></head>
<body class="layui-layout-body">
<div class="layuimini-container">
    <div class="layuimini-main">

        <table id="shippinginfoList" lay-filter="shippinginfoTable"></table>
        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-normal layui-btn-sm" onclick="addShippinginfo()">添加</button>
            </div>
        </script>

        <script type="text/html" id="optBar">
            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        </script>
        <div th:replace="order/orderform :: shippinginfo"></div>
        <script th:src="@{/static/js/order/shippinginfo.js}"></script>
    </div>
</div>
</body>
</html>