<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="layout :: htmlhead" title='物流公司信息'></head>
<body class="layui-layout-body">
<div class="layuimini-container">
    <div class="layuimini-main">

        <input type="hidden" name="" id="reqproductId" th:value="${productId}">
        <table id="warehouseProductList" lay-filter="warehouseProductTable"></table>


        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-normal layui-btn-sm" onclick="addWarehouseProduct()">添加</button>
                <a href="javascript:history.back(-1)">
                    <button class="layui-btn layui-btn-normal layui-btn-sm">返回</button>
                </a>
            </div>
        </script>

        <script type="text/html" id="optBar">
            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-xs" lay-event="addInventory">加库存</a>
            <a class="layui-btn layui-btn-xs" lay-event="reduceInventory">减库存</a>
        </script>
        <div th:replace="order/orderform :: warehouseProduct"></div>
        <div th:replace="common/form :: inventoryRecord"></div>
        <script th:src="@{/static/js/order/warehouseProduct.js}"></script>
    </div>
</div>
</body>
</html>