<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="layout :: htmlhead" th:with="title='品牌信息'"></head>
<body class="layui-layout-body">
<div class="layuimini-container">
    <div class="layuimini-main">
        <table id="warehouseinfoList" lay-filter="warehouseinfoTable"></table>
        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-normal layui-btn-sm" onclick="addWarehouseinfo()">添加</button>
            </div>
        </script>

        <script type="text/html" id="optBar">
            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        </script>
        <script type="text/html" id="StatusTpl">
            {{#  if(d.warehouseStatus == 1){ }}
            <input type="checkbox" name="{{d.warehouseId}}" value="0" lay-skin="switch"
                   lay-text="启用|禁用" lay-filter="isStatusTpl" checked="checked"/>
            {{#  } else { }}
            <input type="checkbox" name="{{d.warehouseId}}" value="1" lay-skin="switch"
                   lay-text="启用|禁用" lay-filter="isStatusTpl"/>
            {{#  } }}
        </script>
        <div th:replace="order/orderform :: warehouseinfo"></div>
        <script th:src="@{/static/js/order/warehouseinfo.js}"></script>
    </div>
</div>
</body>
</html>