<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="layout :: htmlhead" title='购物车'></head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <table id="cartList" lay-filter="cartTable"></table>


    <script type="text/html" id="toolbarDemo">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" lay-event="getCheckData">结算</button>
        </div>
    </script>
    <script type="text/html" id="optBar">
        <a class="layui-btn layui-btn-xs" lay-event="remove">移除</a>
        <a class="layui-btn layui-btn-xs" lay-event="placeAnOrder">下单</a>
    </script>
    <!--<div th:replace="product/productform :: cart"></div>-->
    <script th:src="@{/static/js/product/cart.js}"></script>
    </div></div>
</body>
</html>