<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="layout :: htmlhead" th:with="title='物流公司信息'"></head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <table id="productinfoList" lay-filter="productinfoTable"></table>
        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-normal layui-btn-sm" onclick="addProductinfo()">添加</button>
                <button class="layui-btn layui-btn-normal layui-btn-sm" onclick="buySopping()">
                    先下单
                </button>
            </div>
        </script>
        <script type="text/html" id="optBar">
            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-xs" lay-event="definetemplate">定义sku</a>
            <a class="layui-btn layui-btn-xs" lay-event="looktemplate">查看sku</a>
            <a class="layui-btn layui-btn-xs" href="/product/pic/info/tolist?productId={{d.productId}}">商品图片</a>
            <a class="layui-btn layui-btn-xs" href="/product/specs/tolist/{{d.productId}}">录入sku</a>
        </script>
        <!--底部-->
        <div th:replace="product/productform :: productinfo"></div>
        <div th:replace="product/productform :: skutemplate"></div>
        <script th:src="@{/static/js/product/productinfo.js}"></script>
    </div>
</div>
</body>
</html>