<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="layout :: htmlhead" th:title="销售统计"></head>
<body class="layui-layout-body">
<div class="layuimini-container">
    <div class="layuimini-main">

        <table id="salesList" lay-filter="salesTable"></table>


        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
            </div>
        </script>

        <script type="text/html" id="optBar">
            <!--<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-xs" href="/prod/sku/attr/val/tolist/{{d.makId}}">选项值维护</a>-->
        </script>
        <script th:src="@{/static/js/product/sales.js}"></script>
    </div>
</div>
</body>
</html>