<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.applets.mapper.AppletsUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cloud.applets.entity.AppletsUserEntity">
        <id column="wx_user_id" property="wxUserId"/>
        <result column="app_id" property="appId"/>
        <result column="open_id" property="openId"/>
        <result column="session_key" property="sessionKey"/>
        <result column="union_id" property="unionId"/>
        <result column="nick_name" property="nickName"/>
        <result column="gender" property="gender"/>
        <result column="language" property="language"/>
        <result column="avatar_url" property="avatarUrl"/>
        <result column="insert_time" property="insertTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        wx_user_id
        ,app_id,open_id,session_key,union_id,nick_name,gender,language,avatar_url,insert_time,update_time
    </sql>

</mapper>