<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.product.mapper.ProductSpecsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cloud.product.entity.ProductSpecsEntity">
        <id column="specs_id" property="specsId"/>
        <result column="product_id" property="productId"/>
        <result column="product_price" property="productPrice"/>
        <result column="add_tiem" property="addTiem"/>
        <result column="modified_time" property="modifiedTime"/>
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        specs_id
        , product_id, product_price, add_tiem, modified_time
    </sql>
    <select id="getCartSku" resultType="com.cloud.product.entity.ProductSpecsEntity">
        SELECT pi.product_name,ps.*
        from product_specs ps LEFT JOIN product_info pi ON ps.product_id = pi.product_id


        ${ew.customSqlSegment}
    </select>


</mapper>