<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.product.mapper.ProductLinkSkuMapper">

            <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.cloud.product.entity.ProductLinkSkuEntity">
                                                <id column="pm_id" property="pmId" />
                                                                                                                                                                                                                                    <result column="mak_id" property="makId" />
                                                                <result column="product_id" property="productId" />
                                                                <result column="add_time" property="addTime" />
                                                                <result column="modified_time" property="modifiedTime" />
                                    </resultMap>

    
        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
                                pm_id, mak_id, product_id, add_time, modified_time
        </sql>

</mapper>