<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8"/>
    <title>video</title>
    <script type="text/javascript" th:src="@{/static/jsw/jsw.js}"></script>
    <script type="text/javascript" th:src="@{/static/lib/jquery-3.4.1/jquery-3.4.1.min.js}"></script>
    <style>
        .box {
            margin: 10px 0;
            width: 383px;
            height: 286px;
            background: #ccc;
            overflow: hidden;
            border: 1px darkgrey solid;
        }

        .right_box {
            font-size: 14px;
            position: absolute;
            width: 110px;
            right: 20px;
            top: 80px;
            display: flex;
            flex-flow: column;
            justify-items: center;
        }

        .right_box input {
            margin-bottom: 20px;
        }

        .right_box button {
            margin-bottom: 20px;
        }

        fieldset {
            border: 1px solid #ccc;
        }

        .choose {
            width: 60px;
        }

        .video,
        .intercom {
            width: 600px;
            height: 480px;
            box-sizing: border-box;
            margin: 10px;
            border: 1px #ccc solid;
            padding: 5px;
            float: left;
        }

        .circle {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            display: inline-block;
            top: 5px;
            left: 20px;
            box-shadow: 0px 0px 2px;
        }

        .success {
            background-color: green;
        }

        .faild {
            background-color: red;
        }

        .displaydiv {
            background: black;
            height: calc(100% - 160px);
            margin-top: 5px;
        }

        .divinfo {
            width: 100%;
            height: 20px;
            background-color: grey;
            text-align: center;
            font-size: large;
        }

        ul {
            list-style: none;
            padding: 0px;
            height: 20px;
        }

        ul li {
            float: left;
            margin-left: 4px;
            margin-top: 5px;
        }
    </style>
</head>
<body>
<input type="button" value="登录" onclick="jswLogin()"/>
<div id="msg">未登录</div>
<div style="width:100%; box-sizing: border-box;padding: 30px;">

    <h4>本地抓拍结果:</h4>
    <img id="imgForSnapShotId" style="width: 320px; height: 200px;" />

    <div class="video">
        PU ID<input type="text" class="puidinput" placeholder="请输入PUID" value="PU_26223781" demo-puid>
        <!--<input type="checkbox" id="bovertcpid" />-->
        <ul>
            <li><button>打开</button></li>
            <li><button>关闭</button></li>
            <li><button>旋转</button></li>
            <li><button>全屏</button></li>
            <li><button>音频接收</button></li>
            <li><button>图像拉伸</button></li>
            <li><button>本地抓拍</button></li>
            <li><input value="4" />(1-7)<button>设置OCX视频预览平滑度参数</button></li>
            <li><button>开始本地录像</button></li>
        </ul>
        <br />
        <br />
        <div class="circle faild"></div>
        <div class="displaydiv"></div>
        <div class="divinfo"></div>
    </div>

    <div class="video">
        PU ID<input type="text" class="puidinput" placeholder="请输入PUID" value="PU_26223781" demo-puid>
        <!--<input type="checkbox" id="bovertcpid" />-->
        <ul>
            <li><button>打开</button></li>
            <li><button>关闭</button></li>
            <li><button>旋转</button></li>
            <li><button>全屏</button></li>
            <li><button>音频接收</button></li>
            <li><button>图像拉伸</button></li>
            <li><button>本地抓拍</button></li>
            <li><input value="4" />(1-7)<button>设置OCX视频预览平滑度参数</button></li>
            <li><button>开始本地录像</button></li>
        </ul>
        <br />
        <br />
        <div class="circle faild"></div>
        <div class="displaydiv"></div>
        <div class="divinfo"></div>
    </div>


    <div class="video">
        PU ID<input type="text" class="puidinput" placeholder="请输入PUID" value="PU_26223781" demo-puid>
        <!--<input type="checkbox" id="bovertcpid" />-->
        <ul>
            <li><button>打开</button></li>
            <li><button>关闭</button></li>
            <li><button>旋转</button></li>
            <li><button>全屏</button></li>
            <li><button>隐藏</button></li>
            <li><button>显示</button></li>
            <li><button>音频接收</button></li>
            <li><button>图像拉伸</button></li>
            <li><button>本地抓拍</button></li>
            <li><input value="4" />(1-7)<button>设置OCX视频预览平滑度参数</button></li>
            <li><button>开始本地录像</button></li>
        </ul>
        <br />
        <br />
        <div class="circle faild"></div>
        <div class="displaydiv"></div>
        <div class="divinfo"></div>
    </div>


    <div class="intercom" style="width: 1000px">
        <div class="divinfo"></div>
        <h3>对讲</h3>
        PU ID<input type="text" class="puidinput" placeholder="请输入PUID">
        <ul>
            <li><button>打开</button></li>
            <li><button>关闭</button></li>
            <li><button>音频发送</button></li>
            <li><button>音频接收</button></li>
            <li><button>获取音量</button></li>
            <li><button>设置音量</button></li>
        </ul>
        <div>
            icapture <input id="icaptureid" />
            iplay <input id="iplayid" />
        </div>
    </div>
</div>
</body>
</html>


<script type="text/javascript">
    window.onload = function () {
        jSW.swInit({
            url: "http://61.191.27.18:8081", // bv_nginx.exe服务器地址
            calltype: jSW.CallProtoType.AUTO, // AUTO: IE优先使用OCX, 如果希望IE仍然使用HTTP通信, 请使用jSW.CallProtoType.HTTP
        });

    }
    window.onbeforeunload = function () {
        jSW.swDeInit();
    }

    var session = null;

    function jswLogin() {
        if (session) {
            delete session;
        }
        session = new jSW.SWSession({
            server: '47.114.130.118', // 如果是jSW.CallProtoType.OCX方式，这里需要填写具体的IP
            port: 9701,
            onopen: function (sess) {
                sess.swLogin({
                    user: 'jinse',
                    password: '123456'
                });
            }
        });

        // 注册事件的回调函数
        session.swAddCallBack('login', sessionCallback);
        //session.swAddCallBack('logout', sessionCallback);
    }

    function jswLogout() {
        if (session) {
            session.swLogout();
        }
    }

    function sessionCallback(sender, event, json) {
        var info = '';
        if ('login' == event) {
            info += '登录';
        } else if ('logout' == event) {
            info += '退出';
        }

        if (json.code == jSW.RcCode.RC_CODE_S_OK) {
            info += '成功';
        } else {
            info += '失败, error code: ' + json.code;
        }

        document.getElementById('msg').innerHTML = info;// + '<br/><textarea rows="18" cols="100" readonly="readonly"> ' + JSON.stringify(json, null, 4) + '</textarea>';
    }


    $(function () {
        setTimeout(function () {
            jswLogin();
        }, 1000);
    });





    /*
     * play
     */
    var deschanel = null;
    $(".video ul").find("li:eq(0)").click(function () {
        if ("未登录" == $("#msg").text() ){
            alert("请登录！！");
            return;
        }
        var ele = this
        TestOpenChanelClick(ele)
    });


    function nessInfoInject(domele, fhandle) {
        var hdlg = -1;
        let puid = $(domele).parent().parent().find("input").val(); //PUID的值
        let position = $(domele).parent().parent().find(".displaydiv")[0]; //视频播放位置
        let elecapture = $(domele).parent().parent().find("#icaptureid");
        let eleplay = $(domele).parent().parent().find("#iplayid");
        var chanel = session.swGetPuChanel(puid, 0);
        if (position) {
            hdlg = getDivDialog(position);
        }
        return fhandle.bind(domele)(chanel, position, hdlg, elecapture, eleplay);
    }


    function TestOpenChanelClick(eleMent) {
        var rc = nessInfoInject(eleMent, function (chanel, position, hdlg) {

            if (hdlg != -1 && chanel) {
                var rc = chanel.swClose(hdlg);
                if (rc == jSW.RcCode.RC_CODE_S_OK) {
                    $(position).parent().find(".circle").removeClass('success').addClass(
                        'faild');
                    $(position).parent().find(".divinfo").text("");
                }
            }

            if (chanel) {
                deschanel = chanel;


                // var prototype = 'ocx'
                //
                // if (Demo.BHttp()) {
                //     prototype = "httpflv"
                // }

                var result = chanel.swOpenEx({
                    div: position,
                    prototype: 'auto', //rtmp > hls
                    callback: onOpenChanelHasResult,
                    tag: position,
                    ismuti: true,
                    media: jSW.MEDIADIR.VIDEORECV | jSW.MEDIADIR.AUDIORECV,
                    //bovertcp: bovertcpid.checked,
                    bwindowless: true
                });
                if (result != jSW.RcCode.RC_CODE_S_OK) {
                    alert('打开视频失败: ' + result);
                }
            } else {
                alert('没有该设备通道');
            }
        })
    }

    function onOpenChanelHasResult(options, response, handleObj) {
        if (response.emms.code == jSW.RcCode.RC_CODE_S_OK) {
            var desPlayDiv = options.tag;
            setDivDialog(desPlayDiv, handleObj.hdlg);
            $(desPlayDiv).parent().find(".circle").removeClass('faild').addClass('success');
            $(desPlayDiv).parent().find(".divinfo").text(handleObj.hdlg);
        }

        // setTimeout(function(){
        //     TestOpenChanelClick(desPlayDiv)
        // }, 4000)


    }

    function setDivDialog(div, hdlg) {
        div.dataDlgHandle = hdlg;
    }

    function getDivDialog(div) {
        return div.dataDlgHandle;
    }


    /*
     * close
     */
    $(".video ul").find("li:eq(1)").click(function () {
        if ("未登录" == $("#msg").text() ){
            alert("请登录！！");
            return;
        }
        var rc = nessInfoInject(this, function (chanel, position, hdlg) {
            if (chanel) {
                var rc = chanel.swClose(hdlg);
                if (rc == jSW.RcCode.RC_CODE_S_OK) {
                    $(position).parent().find(".circle").removeClass('success').addClass(
                        'faild');
                    $(position).parent().find(".divinfo").text("");
                }
            } else {}
        });
    });

    /*
     * rotate 旋转
     */
    var iRotate = 0
    $(".video ul").find("li:eq(2)").click(function () {
        iRotate += 90
        var rc = nessInfoInject(this, function (chanel, position, hdlg) {
            if (chanel) {
                var params = {
                    hdlg: hdlg,
                    irotate: iRotate,
                    callback: function (opts, response, data) {

                    }
                };
                var rc = chanel.swVideoRotate(params);
            } else {}
        });
    });

    /*
     * full screen  全屏
     */
    $(".video ul").find("li:eq(3)").click(function () {
        var rc = nessInfoInject(this, function (chanel, position, hdlg) {
            if (chanel) {
                var params = {
                    hdlg: hdlg
                };
                var rc = chanel.swFullScreen(params);
            } else {}
        });
    });


    /*
     * 修改视频通道方向
     */
    $(".video ul").find("li:eq(4)").click(function () {
        var rc = nessInfoInject(this, function (chanel, position, hdlg) {
            var bAudio = $(this).find("button").text() == "音频接收";
            var bVideo = true;
            if (chanel) {
                var params = {
                    hdlg: hdlg,
                    isRecvAudio: bAudio,
                    isRecvVideo: bVideo,
                    callback: function (options, response) {
                        var tag = options.tag;
                        tag.onGetResult(response.emms.code == jSW.RcCode.RC_CODE_S_OK);
                    },
                    tag: {
                        ele: this,
                        bAudio: bAudio,
                        onGetResult: function (bresult) {
                            if (bresult) {
                                if (bAudio) {
                                    $(this.ele).find("button").text("取消接收音频");
                                    $(this.ele).find("button").css("background",
                                        "green")
                                } else {
                                    $(this.ele).find("button").text("音频接收");
                                    $(this.ele).find("button").css("background",
                                        "white")
                                }
                            }
                        }
                    }
                };
                var rc = chanel.swAlterVideoDir(params);

            }
        });
    });





    /*
         * 视频拉伸
         */
    $(".video ul").find("li:eq(5)").click(function () {
        var rc = nessInfoInject(this, function (chanel, position, hdlg) {
            var bStretch = $(this).find("button").text() == "图像拉伸";
            if (chanel) {
                var params = {
                    hdlg: hdlg,
                    bStretch: bStretch,
                    callback: function (options, response) {
                        var tag = options.tag;
                        tag.onGetResult(response.emms.code == jSW.RcCode.RC_CODE_S_OK);
                    },
                    tag: {
                        ele: this,
                        bStretch: bStretch,
                        onGetResult: function (bresult) {
                            if (bresult) {
                                if (this.bStretch) {
                                    $(this.ele).find("button").text("取消图像拉伸");
                                    $(this.ele).find("button").css("background",
                                        "green")
                                } else {
                                    $(this.ele).find("button").text("图像拉伸");
                                    $(this.ele).find("button").css("background",
                                        "white")
                                }
                            }
                        }
                    }
                };
                var rc = chanel.swVideoStretch(params);
            }
        });
    });


    /*
     * 本地抓拍
     */
    $(".video ul").find("li:eq(6)").click(function () {
        var rc = nessInfoInject(this, function (chanel, position, hdlg) {
            var szFilePath = "C:\\Users\\lenovo\\Desktop";
            if (chanel) {
                var params = {
                    hdlg: hdlg,
                    szFilePath: szFilePath,
                    //非插件方式无法向本地文件系统写入文件，szFilePath无效
                    //data为bolb:http://uuid  图片
                    callback: function (options, response, data) {
                        console.log("local snapshot has result:" + response.emms.code);
                        if (data) {
                            document.getElementById("imgForSnapShotId").src = data
                        }
                    },
                    tag: null
                };
                var rc = chanel.swLocalSnapshot(params);
            }
        });
    });
    /*
     * 本地播放参数设置
     */
    $(".video ul").find("li:eq(7)").click(function () {
        var inputVal = Number($(this).parent().find("input").val());

        var rc = nessInfoInject(this, function (chanel, position, hdlg) {
            if (chanel) {
                var params = {
                    Idelayvssmooth: inputVal,
                    callback: function (options, response) {
                        console.log("set delayvssmooth has result:" + response.emms
                            .code);
                    },
                    tag: null,
                    hdlg: hdlg
                };
                var rc = chanel.swSetControlParam(params);
            }
        });
    });
    /*
    * 开始录像
    */
    $(".video ul").find("li:eq(8)").click(function (clickEvent) {

        var rc = nessInfoInject(this, function (chanel, position, hdlg) {
            if (chanel) {
                var params = {
                    hdlg: hdlg,
                    callback: function (options, response, data) {
                        console.log("get statistic info result:" + response.emms.code);
                        console.log(data);
                    },
                    tag: null
                };
                let isRecording = $(clickEvent.target).data("isRecording")
                if (isRecording) {

                    var rc = chanel.swEndRecord({
                        hdlg: hdlg,
                        callback: function (options, response) {
                            console.log("stop record result:" + response.emms
                                .code);
                            let $target = options.tag;
                            $target.data("isRecording", false)
                            $target.text("开始本地录像")
                        },
                        tag: $(clickEvent.target)
                    });

                } else {
                    $(clickEvent.target).data("isRecording", true)
                    $(clickEvent.target).text("结束本地录像")
                    var rc = chanel.swStartRecord({
                        fileName: "test",
                        hdlg: hdlg,
                        errCallback: function (options, response, data) {
                            $target.data("isRecording", false)
                        },
                        callback: function (options, response, data) {
                            console.log("start record result:" + response.emms
                                .code);
                            console.log(data);
                        },
                        tag: null
                    });

                    console.log("call start record result:" + rc)
                }
            }
        });
    });



    /*
         * 打开对讲
         */
    $(".intercom ul").find("li:eq(0)").click(function () {
        var rc = nessInfoInject(this, function (chanel, position, hdlg) {
            chanel.swOpenIntercom({
                isSendAudio: true,
                isRecvAudio: true,
                callback: function (opts, response) {

                },
                tag: null
            });
        });
    });

    /*
     * 关闭对讲
     */
    $(".intercom ul").find("li:eq(1)").click(function () {
        var rc = nessInfoInject(this, function (chanel, position, hdlg) {
            chanel.swCloseIntercom();
        });
    });

    /*
     * 音频发送
     */
    $(".intercom ul").find("li:eq(2)").click(function () {
        var rc = nessInfoInject(this, function (chanel, position, hdlg) {
            var params = {
                isSendAudio: true,
                isRecvAudio: false,
                callback: function (opts, response) {},
                tag: null
            };
            chanel.swAlterAudioDir(params);
        });
    });

    /*
     * 音频接收
     */
    $(".intercom ul").find("li:eq(3)").click(function () {
        var rc = nessInfoInject(this, function (chanel, position, hdlg) {
            var params = {
                isSendAudio: false,
                isRecvAudio: true,
                callback: function (opts, response) {},
                tag: null
            };
            chanel.swAlterAudioDir(params);
        });
    });

    /*
     * 获取对讲音量
     */
    $(".intercom ul").find("li:eq(4)").click(function () {
        var rc = nessInfoInject(this, function (chanel, position, hdlg, elecapture, eleplay) {
            var params = {
                callback: function (opts, response, data) {
                    if (jSW.RcCode.RC_CODE_S_OK == response.emms.code) {
                        var tag = opts.tag;
                        tag.setVolume(data);
                    }
                },
                tag: {
                    capture: elecapture,
                    play: eleplay,
                    setVolume: function (valume) {
                        this.capture.val(valume.icapture);
                        this.play.val(valume.iplay);
                    }
                }
            };
            chanel.swGetVolume(params);
        });
    });

    /*
     * 设置对讲音量
     */
    $(".intercom ul").find("li:eq(5)").click(function () {
        var rc = nessInfoInject(this, function (chanel, position, hdlg, elecapture, eleplay) {
            var params = {
                volume: {
                    icapture: (Number)(elecapture.val()),
                    iplay: (Number)(eleplay.val())
                },
                callback: function (opts, response) {},
                tag: null
            };
            chanel.swAlterVolume(params);
        });
    });


</script>