<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="layout :: htmlhead" title='操作日志记录'></head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <table id="sysoperlogList" lay-filter="sysoperlogTable"></table>
        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <!--<button class="layui-btn layui-btn-sm" lay-event="addsysoperlog">添加</button>-->
            </div>
        </script>
        <script type="text/html" id="optBar">
            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        </script>
       <!-- <div th:replace=" :: sysoperlog"></div>-->
        <script th:src="@{/static/log/sysoperlog.js}"></script>
    </div></div>
</body>
</html>