<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.sys.mapper.SysLogoinfoConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cloud.sys.entity.SysLogoinfoConfigEntity">
        <id column="sys_fonfig_id" property="sysFonfigId"/>
        <result column="title" property="title"/>

        <result column="add_time" property="addTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        sys_fonfig_id
        , title, pic_url, add_time, update_time
    </sql>

</mapper>